{% extends "base.html" %}
{% load static %}

{% block content %}

	<div class="col-md-8 blog-main">
		<h3 class="pb-4 mb-4 font-italic border-bottom">Posts</h3>
		<div class="blog-post">
			<h2 class="blog-post-title">Second Post</h2>
			<p class="blog-post-meta">July 30, 2020 by <a href="#">Josh</a></p>

			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<ul>
				<li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
				<li>Donec id elit non mi porta gravida at eget metus.</li>
				<li>Nulla vitae elit libero, a pharetra augue.</li>
			</ul>
			<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
			<p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
		</div><!-- /.blog-post -->

		<div class="blog-post">
			<h2 class="blog-post-title">First Post</h2>
			<p class="blog-post-meta">July 30, 2020 by <a href="#">Josh</a></p>

			<p>Here is an example of some code:</p>
			<div>
				<pre>
					<code class="language-python">
import django

def index(request):
	return render(request, "index.html", {})
					</code>
				</pre>


			</div>
		</div><!-- /.blog-post -->

		<nav class="blog-pagination">
			<a class="btn btn-outline-primary" href="#">Older</a>
			<a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
		</nav>

	</div><!-- /.blog-main -->
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/prism.css' %}">
{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/prism.js' %}"></script>
{% endblock %}
